@import "../../app/styles/variables";

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-purple;
  border-radius: 4px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  & div {
    width: 15px;
    height: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .checkbox {
    border: 1px solid $color-white;
    & div {
      background-color: $color-white;
    }
  }
}
@media only screen and (max-width: 430px) {
  .checkbox {
    width: 16px;
    height: 16px;
    & div {
      width: 10px;
      height: 10px;
    }
  }
}
