@import "../../app/styles/variables";
@import "../../app/styles/functions";

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-purple;
  border-radius: 4px;
  width: adapt(21px, 1920px);
  height: adapt(21px, 1920px);
  cursor: pointer;
  & div {
    width: adapt(15px, 1920px);
    height: adapt(15px, 1920px);
  }
}
