@import "../../app/styles/variables";
@import "../../app/styles/fonts";

.filterTrancfer {
  display: flex;
  flex-direction: column;
  padding: 19px 19px 49px;
  border-radius: 10px;
  background-color: $color-light-lavender;
  & .title {
    font-weight: 700;
    font-size: 20px;
    color: $color-purple;
  }
  & .filter {
    margin-left: 26px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin-top: 29px;
    & div {
      display: flex;
      gap: 29px;
      & label {
        color: $color-lavender;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .filterTrancfer {
    padding: 0;
    background-color: transparent;
    & .title {
      color: $color-white;
    }
    & .filter {
      margin-left: 0;
      & div {
        gap: 17px;
        & label {
          color: $color-white;
        }
      }
    }
  }
}
@media only screen and (max-width: 430px) {
  .filterTrancfer {
    & .title {
      font-size: 16px;
    }
    & .filter {
      & label {
        font-size: 12px;
      }
    }
  }
}
