@import "../../app/styles/variables";
@import "../../app/styles/fonts";

.aviTickets__wrapper {
  margin-top: 29px;
  display: flex;
  flex-direction: column;
  gap: 47px;
  & .aviTickets {
    border-radius: 10px;
    background-color: $color-light-lavender;
    padding: 32px 43px 25px 39px;
    & .top {
      display: flex;
      justify-content: space-between;
      & .price {
        font-weight: 700;
        font-size: 32px;
        color: $color-purple;
      }
      & .logo {
        width: 118px;
      }
    }
    & .bottom {
      margin-top: 25px;
      display: flex;
      justify-content: space-between;
      & .route,
      & .status,
      & .transferTitle {
        padding-bottom: 9px;
        font-weight: 500;
        color: $color-lavender;
      }
      & .time,
      & .duration,
      & .transferCount {
        font-weight: 500;
        color: $color-purple;
      }
    }
  }
}
.button {
  width: 100%;
  margin-top: 74px;
  padding: 16px 0 17px;
  font-weight: 700;
  font-size: 24px;
  color: $color-white;
  background-color: $color-purple;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .aviTickets__wrapper {
    margin-top: 34px;
    gap: 53px;
  }
  .button {
    padding: 16px 0 17px;
    margin-top: 52px;
  }
}
@media only screen and (max-width: 430px) {
  .aviTickets__wrapper {
    margin-top: 25px;
    gap: 35px;
  }
}