@import "../../app/styles/variables";

.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid $color-purple;
  width: 21px;
  height: 21px;
  cursor: pointer;
  & span {
    border-radius: 100%;
    background-color: $color-purple;
    width: 15px;
    height: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .radio {
    border: 1px solid $color-white;
    & span {
      background-color: $color-white;
    }
  }
}

@media only screen and (max-width: 430px) {
  .radio {
    width: 16px;
    height: 16px;
    & span {
      width: 10px;
      height: 10px;
    }
  }
}
